<section id="form">
    <form action="/sesion-iniciada" method="post">
        <input type="text" name="mail" id="mail" placeholder="Correo electrónico">
        <input type="password" name="pass" id="password" placeholder="Intoduce tu contraseña">
        <button type="submit">Iniciar sesión</button>
    </form>
</section>