<section id="form">
    <form action="/registro-completo" method="post">
        <input type="text" name="mail" id="mail" placeholder="Correo electrónico">
        <input type="password" name="pass" id="password" placeholder="Introduce tu contraseña">
        <input type="password" name="repetida" id="repetida" placeholder="Repite tu contraseña">
        <button type="submit">Registrarse</button>
    </form>
</section>