<section id="form">
    <form action="/registro-completo" method="post">
        <input type="text" name="name" id="name" placeholder="Introduce tu Nombre" required>
        <input type="text" name="mail" id="mail" placeholder="Correo electrónico" required>
        <input type="password" name="pass" id="password" placeholder="Introduce tu contraseña" required>
        <input type="password" name="repetida" id="repetida" placeholder="Repite tu contraseña" required>
        <button type="submit">Registrarse</button>
    </form>
</section>